@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

.followAnimation {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 2rem; /* css 애니메이션 적용시 성능개선 */
  will-change: transform;
  transform: translate(0, 0);
  z-index: 8;
}
.wrap {
  height: 100vh;
}
.df {
  display: flex;
  z-index: 99;
}
.top {
  width: 100%;
  height: 80px;
  background: skyblue;
  display: flex;
  justify-content: space-around;
  z-index: 99;
}
.logo {
  width: 10%;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gnb-wrap {
  width: 40%;
  height: 80px;
  display: flex;
  background: skyblue;
}
.gnb-wrap > ul {
  display: flex;
  align-items: center;
}
.menu {
  width: 50px;
  height: 70px;
}
ul > li {
  list-style: none;
}
ul > li a {
  padding: 50px;
  text-decoration: none;
  color: #fff;
  transition: border-bottom 2s;
}
ul.menu > li > a:hover {
  color: rgb(94, 154, 214);
  border-bottom: 2px solid #fff; /* 밑줄 스타일 변경 */
}

.main {
  width: 100%;
  height: 100%;
  position: relative;
  /* 원하는 높이로 조정하세요 */
  background-image: linear-gradient(
    to bottom,
    rgba(135, 206, 250, 0) 0%,
    rgba(135, 206, 250, 1) 100%
  );
  /* 원하는 그라데이션 색상 및 방향으로 변경하세요 */
  overflow: hidden;
}

.mainphoto {
  width: 20%;
  position: absolute;
  height: 20%;
  content: "";
  z-index: 1;
  top: 40%;
  left: 40%;
}

.minibox2 {
  width: 50px;
  height: 40px;
  border: 1px solid black;
}
.text_box {
  width: 100%;
  max-width: 70%;
}
.text_box .maintext {
  position: absolute;
  top: 50%;
  transform: translateY(-15%);
  left: 100px;
}
.text_box .maintext p {
  color: white;
  text-align: center;
  font-size: 2vw;
  line-height: 70px;
  font-weight: 600;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}
.button_box {
  width: 50%;
  height: 50%;
  margin-top: 20%;
  margin-left: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.bt1 {
  width: 40%;
  height: 40%;
}
.bt2 {
  width: 40%;
  height: 40%;
}

/* .mainphoto > img { width: 50%; height: 50%; } */
/* .main img { width: 100%; height: 100%; } */
/* scetion1 */
.section1 {
  width: 100%;
  height: 100%;
}
.about-me {
  width: 100%;
  height: 8%;
  color: white;
  text-align: center;
  background: skyblue;
  font-size: 50px;
}
.about_box {
  width: 100%;
  height: 60%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.about_box1 {
  width: 80%;
  height: 100%; /* border: 1px solid gray; border-radius: 25px; */
  display: flex;
  align-items: center;
}
.about_img {
  width: 50%;
  height: 80%;
}
.about_text {
  width: 60%;
  height: 70%;
  border: 2px solid skyblue;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
}
.at1 h3 {
  font-weight: 600;
  font-size: 25px;
  line-height: 31px;
  letter-spacing: 3px;
  margin: 25px 0 9px 0;
}
.at1_text {
  line-height: 30px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.at2_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.at2 h3 {
  font-weight: 600;
  font-size: 25px;
  line-height: 31px;
  letter-spacing: 3px;
  margin: 25px 0 9px 0;
}
.at2_text {
  line-height: 25px;
  display: flex;
  flex-direction: column;
}
/* .at2_text2{
  display: flex;
  flex-direction: column;
} */
.about_box2 {
  width: 50%;
  height: 50%;
  background: white;
  display: inline-grid;
}
.skill {
  font-size: 2vw;
  text-align: center;
  font-weight: 600;
}
.skill1,
.skill2,
.skill3,
.skill4 {
  width: 100%;
  padding: 10px;
  background-color: white;
}

.skibox1,
.skibox2,
.skibox3,
.skibox4 {
  width: 0;
  height: 50%; /* 높이 설정 */
  background-color: skyblue;
  transition: width 2s; /* 애니메이션 효과 */
}

/* section2 */
.section2 {
  width: 100%;
  height: 40%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.probox {
  width: 100%;
  height: 20%;
  transition: all 0.4s;
  background: rgb(202, 202, 202);
  border-radius: 30px;
}

.probox h2 {
  text-align: center;
  padding-top: 10px;
  font-size: 40px;
  font-family: "Pretendard-SemiBold", sans-serif;
  color: #fff;
}

.probox2 {
  width: 100%;
  height: 20%;
  border: 1px solid;
  transition: all 0.4s;
  border-radius: 30px; /* background: rgb(105, 105, 105); */
}
.probox2:hover {
  color: #fff;
  background-color: rgb(94, 154, 214);
}
.probox2 h2 {
  text-align: center;
  padding-top: 10px;
  font-size: 40px;
  font-family: "Pretendard-SemiBold", sans-serif;
  color: #fff;
}
.probox3 {
  width: 100%;
  height: 20%;
  border: 1px solid;
  transition: all 0.4s;
  border-radius: 30px; /* background: rgb(105, 105, 105); */
}
.probox3:hover {
  color: #fff;
  background-color: rgb(94, 154, 214);
}
.probox3 h2 {
  text-align: center;
  padding-top: 10px;
  font-size: 40px;
  font-family: "Pretendard-SemiBold", sans-serif;
  color: #fff;
}

/* section3 */
.section3 {
  width: 100%;
  height: 80%;
  margin-top: 5%;
  display: flex;
}
.sec3_box {
  width: 50%;
  height: 100%;
  border: 3px solid #ddd;
  border-radius: 3rem;
  background-repeat: no-repeat;
  background-position: center 0%;
  background-size: 100%;
  background-image: url(../img/sungjinjoo.github.io_project1_.png);
  transition: all 3s ease-in-out;
  box-shadow: 3px 3px 3px #d9d9d9;
  overflow: hidden;
  position: relative;
  object-fit: cover;
  z-index: 10;
}

.sec3_box:hover {
  background-position: center 100%;
  /* 마우스를 요소 위로 가져갈 때 이미지가 나타나도록 함 */
}

.sec3_box img {
  width: 50%;
  height: 50%;
  object-fit: cover;
  display: none; /* 기존 이미지를 숨김 */
}

.sec3_box:hover img {
  display: block; /* 마우스를 요소 위로 가져갈 때 이미지가 표시되도록 함 */
}
/* .sec3_box img { width: 50%; height: 50%; object-fit: cover; } */
.sec3_box1 {
  width: 50%;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.sec3_box1 h3 {
  text-align: center;
  margin-top: 20px;
}
.sec3_text {
  width: 70%;
  height: 60%;
  display: grid; /* background: yellow; */
}
.sec3_dep {
  width: 50%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid;
}
.sec3_con1 {
  width: 70%;
  height: 20%;
  display: flex; /* background: blue; */
  justify-content: space-around;
  align-items: flex-end;
}
.sub_box1 {
  width: 40%;
  height: 40%;
  border: 2px solid skyblue;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
}
.sub_box1:hover {
  color: #fff;
  background-color: rgb(94, 154, 214);
}
.sub_box2 {
  width: 40%;
  height: 40%;
  border: 2px solid skyblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub_box2:hover {
  color: #fff;
  background-color: rgb(94, 154, 214);
}
.sub_box3 {
  width: 40%;
  height: 40%;
  border: 2px solid skyblue;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub_box3:hover {
  color: #fff;
  background-color: rgb(94, 154, 214);
}
/* section4 */
.section4 {
  width: 100%;
  height: 100%;
  padding-top: 5%;
  display: flex;
}
.sec4_box {
  width: 50%;
  height: 100%;
  overflow: hidden;
  border: 3px solid #ddd;
  border-radius: 3rem;
  background-repeat: no-repeat;
  background-position: center 0%;
  background-size: 100%; /* transition: all 2s ease-in-out; */
  box-shadow: -3px 3px 3px #d9d9d9;
  overflow: hidden;
  position: relative;
}
.sec4_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
}
.sec4_box1 {
  width: 50%;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.sec4_box1 h2 {
  text-align: center;
}
.sec4_text {
  width: 70%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.sec4_main {
  line-height: 30px;
}
.sec4_df {
  width: 50%;
  height: 10%;
  display: flex;

  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid;
}
.sec4_df p,
.sec4_df span {
  margin-top: 5px;
  margin-bottom: 10px;
}
.sec4_con1 {
  width: 70%;
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.sub_box1 {
  width: 40%;
  height: 40%;
  border-radius: 40px;
  background: white;
}
.sub_box2 {
  width: 40%;
  height: 40%;
  border-radius: 40px;
  background: white;
}
footer {
  width: 100%;
  height: 50%;
  border: 1px solid skyblue;
}
.footer_inner {
  text-align: center;
}
footer .footer_top {
  text-align: center;
}
footer .footer_top h2 {
  letter-spacing: 3.2px;
  font-weight: 700;
  font-size: 32px;
  line-height: 31px;
  padding-top: 100px;
  padding: 100px 0 50px 0;
}
#topBtn {
  display: none; /* 페이지 최상단에 숨김 */
  position: fixed; /* 고정 위치 */
  bottom: 20px; /* 화면 하단으로부터의 거리 */
  right: 30px; /* 화면 오른쪽으로부터의 거리 */
  z-index: 99; /* 다른 요소 위에 배치 */
  font-size: 18px; /* 폰트 크기 */
  border: none; /* 테두리 없음 */
  outline: none; /* 포커스 시 발생하는 테두리 없음 */
  background-color: #555; /* 배경색 */
  color: white; /* 텍스트 색상 */
  cursor: pointer; /* 커서 스타일 변경 */
  padding: 15px; /* 안쪽 여백 */
  border-radius: 10px; /* 모서리 둥글게 */
}

#topBtn:hover {
  background-color: #333; /* 호버 시 배경색 변경 */
}
