.main,
.main * {
  box-sizing: border-box;
}

.nav{
    width: 1920px;
    height: 50px;
    background: black;
}
.image-2 {
  width: 1920px;
  height: 1063px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.component-3 {
  width: 178px;
  height: 48px;
  position: absolute;
  left: 1662px;
  top: 77px;
}
.contact {
  color: #ffffff;
  text-align: left;
  font-family: "LaoSansPro-Regular", sans-serif;
  font-size: 20px;
  line-height: 10%;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.component-4 {
  width: 162px;
  height: 48px;
  position: absolute;
  left: 1384px;
  top: 77px;
}
.project {
    color: #ffffff;
    text-align: left;
    font-family: "LaoSansPro-Regular", sans-serif;
    font-size: 20px;
    line-height: 10%;
    font-weight: 400;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    bottom: 0%;
    top: 0%;
    height: 100%;
}

.component-6 {
  width: 120px;
  height: 48px;
  position: absolute;
  left: 897px;
  top: 77px;
}
.home {
    color: #ffffff;
    text-align: left;
    font-family: "LaoSansPro-Regular", sans-serif;
    font-size: 20px;
    line-height: 10%;
    font-weight: 400;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    bottom: 0%;
    top: 0%;
    height: 100%;
}
.image-1 {
  width: 206px;
  height: 42px;
  position: absolute;
  left: 91px;
  top: 92px;
  object-fit: cover;
}
.image-3 {
  width: 406px;
  height: 207px;
  position: absolute;
  left: 769px;
  top: 324px;
  object-fit: cover;
}
.image-4 {
  width: 206px;
  height: 42px;
  position: absolute;
  left: 91px;
  top: 92px;
  object-fit: cover;
}
.div {
  color: #ffffff;
  text-align: left;
  font-family: "LaoSansPro-Regular", sans-serif;
  font-size: 40px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  left: 700px;
  top: 657px;
}
.mask-group {
  position: absolute;
  inset: 0;
}
.frame-1 {
  background: #ffffff;
  width: 1920px;
  height: 120px;
  position: absolute;
  left: 0px;
  top: 1092px;
  overflow: hidden;
}
.image-7 {
  width: 1920px;
  height: 1063px;
  position: absolute;
  left: 0px;
  top: 274px;
  object-fit: cover;
}
.component-2-about {
  width: 135px;
  height: 48px;
  position: absolute;
  left: 1133px;
  top: 77px;
}
.about {
    color: #ffffff;
    text-align: left;
    font-family: "LaoSansPro-Regular", sans-serif;
    font-size: 20px;
    line-height: 10%;
    font-weight: 400;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    bottom: 0%;
    top: 0%;
    height: 100%;
}
.rectangle-12 {
  width: 13.49%;
  height: 12.71%;
  position: absolute;
  right: 12.53%;
  left: 73.98%;
  bottom: -755.45%;
  top: 842.74%;
  overflow: visible;
}

.about-me,
.about-me * {
  box-sizing: border-box;
}
.about-me {
  height: 166.6rem;
  position: relative;
  overflow: hidden;
}
.image-8 {
  width: 10rem;
  height: 10rem;
  position: absolute;
  left: 114.4rem;
  top: 26.4rem;
  object-fit: cover;
}
.image-9 {
  width: 10rem;
  height: 10rem;
  position: absolute;
  left: 66.7rem;
  top: 26.4rem;
  object-fit: cover;
}
.image-10 {
  width: 10rem;
  height: 10rem;
  position: absolute;
  left: 164rem;
  top: 26.4rem;
  object-fit: cover;
}
.about-me2 {
  color: #000000;
  text-align: left;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 4rem;
  line-height: 120%;
  font-weight: 600;
  position: absolute;
  left: 14.5rem;
  top: 26.4rem;
  width: 23.2rem;
  height: 5.8rem;
}
.line-1 {
  border-style: solid;
  border-color: #000000;
  border-width: 0.7rem 0 0 0;
  width: 32.6rem;
  height: 0rem;
  position: absolute;
  left: 5.2rem;
  top: 40.7rem;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.in-fermentum-orci-nunc-vestibulum-eros-massa-sagittis-at-orci-sit-amet-fermentum-interdum-mi-aliquam-egestas-tellus-vitae-felis-tincidunt-vulputate {
  color: #000000;
  text-align: left;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 3rem;
  line-height: 120%;
  font-weight: 600;
  position: absolute;
  left: 10rem;
  top: 43.2rem;
  width: 40.4rem;
  height: 25.9rem;
}
.well-documented {
  color: #000000;
  text-align: left;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 2.5rem;
  line-height: 120%;
  font-weight: 600;
  position: absolute;
  left: 156.7rem;
  top: 41.4rem;
}
.in-fermentum-orci-nunc-vestibulum-eros-massa-sagittis-at-orci-sit-amet-fermentum-interdum-mi-aliquam-egestas-tellus-vitae-felis-tincidunt-vulputate2 {
  color: #000000;
  text-align: center;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 1.5rem;
  line-height: 120%;
  font-weight: 600;
  position: absolute;
  left: 150.7rem;
  top: 49.7rem;
}
.image-5 {
  width: 102.3rem;
  height: 35rem;
  position: absolute;
  left: 44.8rem;
  top: 112.3rem;
  object-fit: cover;
}
.elaborated-code {
  color: #000000;
  text-align: left;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 2.5rem;
  line-height: 120%;
  font-weight: 600;
  position: absolute;
  left: 60rem;
  top: 40.9rem;
}
.advanced-options {
  color: #000000;
  text-align: center;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 2.5rem;
  line-height: 120%;
  font-weight: 600;
  position: absolute;
  left: 107rem;
  top: 40.9rem;
}
.in-fermentum-orci-nunc-vestibulum-eros-massa-sagittis-at-orci-sit-amet-fermentum-interdum-mi-aliquam-egestas-tellus-vitae-felis-tincidunt-vulputate3 {
  color: #000000;
  text-align: center;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 1.5rem;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  left: 101.9rem;
  top: 49.8rem;
}
.in-fermentum-orci-nunc-vestibulum-eros-massa-sagittis-at-orci-sit-amet-fermentum-interdum-mi-aliquam-egestas-tellus-vitae-felis-tincidunt-vulputate4 {
  color: #000000;
  text-align: center;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 1.5rem;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  left: 52.9rem;
  top: 49.8rem;
  width: 37.5rem;
  height: 5.5rem;
}
.hello-friends-and-welcome-ronneby {
  color: #000000;
  text-align: center;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 5rem;
  line-height: 120%;
  font-weight: 600;
  position: absolute;
  left: 46.5rem;
  top: 87.2rem;
}
.a-beautiful-responsive-multi-purpose-wordpress-theme {
  color: #000000;
  text-align: center;
  font-family: "PrincessSofia-Regular", sans-serif;
  font-size: 3rem;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  left: 69.1rem;
  top: 96.1rem;
}
.div {
  color: #000000;
  text-align: center;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  left: -50.4rem;
  top: -139.1rem;
}
.section-3,
.section-3 * {
  box-sizing: border-box;
}
.section-3 {
  background: #212121;
  height: 75.5rem;
  position: relative;
  overflow: hidden;
}
.in-fermentum-orci-nunc-vestibulum-eros-massa-sagittis-at-orci-sit-amet-fermentum-interdum-mi-aliquam-egestas-tellus-vitae-felis-tincidunt-vulputate-in-ac-venenatis-nisl-nam-eget-quam-ut-augue-eleifend-commodo-nunc-accumsan-ultrices-lectus-sed-pellentesque-lorem-venenatis-et-donec-pharetra-est-id-cursus-faucibus-velit-erat-dignissim-magna-elementum-luctus-lorem-erat-quis-sapien {
  color: #ffffff;
  text-align: left;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 2rem;
  line-height: 120%;
  font-weight: 500;
  position: absolute;
  left: 16.6rem;
  top: 29rem;
  width: 65.6rem;
}
.html-5-css {
  color: #ffffff;
  text-align: left;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 3rem;
  line-height: 120%;
  font-weight: 600;
  position: absolute;
  left: 95.4rem;
  top: 22.5rem;
}
.photoshop {
  color: #ffffff;
  text-align: left;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 3rem;
  line-height: 120%;
  font-weight: 600;
  position: absolute;
  left: 96.4rem;
  top: 40.1rem;
}
.illustratar {
  color: #ffffff;
  text-align: left;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 3rem;
  line-height: 120%;
  font-weight: 600;
  position: absolute;
  left: 97.3rem;
  top: 48.9rem;
}
.java-script {
  color: #ffffff;
  text-align: left;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 3rem;
  line-height: 120%;
  font-weight: 600;
  position: absolute;
  left: 96.6rem;
  top: 31.3rem;
}
.rectangle-7 {
  background: #d9d9d9;
  width: 61.4rem;
  height: 2.2rem;
  position: absolute;
  left: 115.8rem;
  top: 23.2rem;
}
.rectangle-8 {
  background: #d9d9d9;
  width: 61.4rem;
  height: 2.2rem;
  position: absolute;
  left: 115.8rem;
  top: 32rem;
}
.rectangle-9 {
  background: #d9d9d9;
  width: 61.4rem;
  height: 2.2rem;
  position: absolute;
  left: 115.8rem;
  top: 40.8rem;
}
.rectangle-10 {
  background: #d9d9d9;
  width: 61.4rem;
  height: 2.2rem;
  position: absolute;
  left: 115.8rem;
  top: 49.6rem;
}
.a-beautiful-theme {
  color: #ffffff;
  text-align: left;
  font-family: "PrincessSofia-Regular", sans-serif;
  font-size: 2rem;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  left: 16.8rem;
  top: 15.1rem;
}
.div {
  color: #ffffff;
  text-align: left;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 3rem;
  line-height: 120%;
  font-weight: 700;
  position: absolute;
  left: 16.8rem;
  top: 22.4rem;
}
.projects,
.projects * {
  box-sizing: border-box;
}
.projects {
  height: 110.6rem;
  position: relative;
  overflow: hidden;
}
.image-11 {
  width: 192rem;
  height: 20.2rem;
  position: absolute;
  left: 0rem;
  top: 35.8rem;
  object-fit: cover;
}
.image-12 {
  width: 192rem;
  height: 18.2rem;
  position: absolute;
  left: 0rem;
  top: 56rem;
  object-fit: cover;
}
.image-13 {
  width: 192rem;
  height: 18.2rem;
  position: absolute;
  left: 0rem;
  top: 74.2rem;
  object-fit: cover;
}
.image-15 {
  width: 192rem;
  height: 18.2rem;
  position: absolute;
  left: 0rem;
  top: 92.4rem;
  object-fit: cover;
}
.component-8 {
  width: 19.7rem;
  height: 6rem;
  position: absolute;
  left: 85.7rem;
  top: 43.9rem;
}
._1 {
  color: #ffffff;
  text-align: left;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 5rem;
  line-height: 120%;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  -webkit-text-stroke: 0.1rem #000000;
}
.component-82 {
  width: 20.4rem;
  height: 6rem;
  position: absolute;
  left: 85rem;
  top: 62.1rem;
}
._2 {
  color: #ffffff;
  text-align: left;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 5rem;
  line-height: 120%;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  -webkit-text-stroke: 0.1rem #000000;
}
.component-83 {
  width: 20.5rem;
  height: 6rem;
  position: absolute;
  left: 84.9rem;
  top: 80.3rem;
}
._3 {
  color: #ffffff;
  text-align: left;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 5rem;
  line-height: 120%;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  -webkit-text-stroke: 0.1rem #000000;
}
.component-84 {
  width: 20.6rem;
  height: 6rem;
  position: absolute;
  left: 85.7rem;
  top: 98.5rem;
}
._4 {
  color: #ffffff;
  text-align: left;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 5rem;
  line-height: 120%;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  -webkit-text-stroke: 0.1rem #000000;
}
.pro-jects {
  color: #000000;
  text-align: left;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 6rem;
  line-height: 120%;
  font-weight: 600;
  position: absolute;
  left: 80.3rem;
  top: 16.5rem;
  width: 33rem;
  height: 4.8rem;
}
